<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BinaryTreeVisualization.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
    <!-- Thêm hàm JavaScript vào đây -->
    <script>
        window.getSvgWidth = (elementId) => {
            var element = document.getElementById(elementId);
            if (element) {
                return element.clientWidth || 0;
            }
            return 0;
        };

                // Thêm hàm getSvgHeight để lấy chiều cao của SVG
                window.getSvgHeight = (elementId) => {
                    var element = document.getElementById(elementId);
                    if (element) {
                        return element.clientHeight || 0;  // Trả về chiều cao của SVG
                    }
                    return 0;
                };
    </script>

   
</head>

<body>
    <Routes />
    <script src="Js/site.js"></script> <!-- Loại bỏ ../wwwroot nếu đang ở thư mục wwwroot -->
    <script src="Js/resizeHandler.js"></script>

    <script src="_framework/blazor.web.js"></script>
</body>

</html>
