body {
    width: 100%;
    height: 100%;
}

.first-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.title {
    font-weight: 600;
    height: 15px;
}

.title-speed {
    height: 0px;
}

.find-operation,
.traverse-tree,
.speed-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.find-operation {
    width: 40%;
}

.traverse-tree,
.speed-control {
    width: 30%;
}

.speed-control {
    margin-top: 15px;
}

.find-operation > div,
.traverse-tree > div
.speed-control > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

select {
    border-radius: 5px;
    height: 30px;
    font-size: 12px;
    width: 150px;
}

.custom-slider {
    width: 300px;
}

.    {
    margin-bottom: 10px;
}

.random-tree > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}



input {
    width: 100px;
    border-radius: 5px;
    padding: 0 5px;
    margin: 0 5px 0 10px;
}

.button,
.create-random-button,
.clear-button {
    background-color: #9375e2;
    text-decoration: none;
    color: white;
    height: 28px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
    cursor: pointer;
}

.button {
    width: 75px;
}

.create-random-button {
    width: 12%;
    margin-right: 5px;
}

.clear-button {
    width: 6%;
}

.button:hover,
.create-random-button:hover,
.clear-button:hover {
    background-color: #a080f6;
    transition: 0.3s;
    color: white;
}

.button:active,
.create-random-button:active {
    background-color: #8569d0;
    transition: 0.3s;
    color: white;
}

.node-circle {
    cursor: pointer;
}

.dropdown-menu {
    position: relative;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #9375e2;
    border: none;
    padding: 10px;
}

.dropdown-menu::before {
    content: '';
    position: absolute;
    top: 60px;
    left: -16px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent #9375e2 transparent transparent;
}

.dropdown-input {
    width: 90%;
    border: none;
    margin: 5px !important;
}

.dropdown-button {
    background-color: #9375e2;
    color: white;
    height: 30px;
    width: 90%;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dropdown-button:hover {
    background-color: rgba(255,255,255,0.37);
    transition: 0.3s;
    color: white;
}

.button[disabled],
.create-random-button[disabled],
.clear-button[disabled],
.dropdown-button[disabled] {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
    background-color: #ccc !important;
    color: #666 !important;
}

.status-bar {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align content to the left */
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0 20px;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    background-color: #e0e0e0; /* Slightly darker white background */
}

.status {
    color: #333;
    margin-top: 20px;
    font-weight: 500;
    font-size: 15px;
}

#refresh-button {
    margin-left: 7px;
    background-color: #f0f0f0; /* Nền màu xám nhạt */
    border: 2px solid #ccc; /* Viền màu xám */
    border-radius: 50%; /* Tạo nút hình tròn */
    width: 40px; /* Chiều rộng */
    height: 40px; /* Chiều cao */
    display: flex; /* Để căn giữa biểu tượng */
    justify-content: center; /* Căn ngang */
    align-items: center; /* Căn dọc */
    cursor: pointer; /* Hiển thị con trỏ khi hover */
}

    #refresh-button:hover {
        background-color: #e0e0e0; /* Đổi màu nền khi hover */
    }

    #refresh-button:active {
        background-color: #d0d0d0; /* Đổi màu nền khi nhấn */
        box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3); /* Hiệu ứng ấn vào */
    }

    #refresh-button MatIcon {
        font-size: 24px; /* Kích thước biểu tượng */
        color: #555; /* Màu sắc biểu tượng */
    }
