body {
    width: 100%;
    height: 100%;
}

.basic-operation {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%
}

.add, .edit, .delete-node, .find, .delete-tree {
    width: 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.random-tree {
    margin-top: 20px;
}

.random-tree > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.first-input {
    margin-left: 0px !important;
}

input {
    width: 80px;
    border-radius: 5px;
    padding: 0 5px;
    margin: 0 5px;
}

.button,
.create-random-button {
    background-color: #9375e2;
    text-decoration: none;
    color: white;
    height: 28px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
}

.button {
    width: 38%;
}

.create-random-button {
    width: 15%;
}

.button:hover,
.create-random-button:hover {
    background-color: #6a4cba;
    transition: 0.3s;
    color: white;
}

.browse-tree {
    margin-top: 20px;
}

select {
    border-radius: 5px;
}

.node-circle {
    cursor: pointer;
    transition: fill 0.3s ease;
}

.node-circle:hover {
    fill: #dddddd;
}

.is-selected {
    fill: #4cff00;
}

.add-node-dialog {
    position: fixed;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Đặt z-index để hộp thoại nằm trên các phần khác */
    display: block;
    width: 200px;
    height: 100px;
}

