body {
    width: 100%;
    height: 100%;
}

.basic-operation {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%
}

.add, .edit, .delete-node, .find, .delete-tree {
    width: 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.random-tree {
    margin-top: 20px;
}

    .random-tree > div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

.first-input {
    margin-left: 0px !important;
}

input {
    width: 80px;
    border-radius: 5px;
    padding: 0 5px;
    margin: 0 5px;
}

.button,
.create-random-button {
    background-color: #9375e2;
    text-decoration: none;
    color: white;
    height: 28px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
}

.button {
    width: 38%;
}

.create-random-button {
    width: 12%;
}

.button:hover,
.create-random-button:hover {
    background-color: #a080f6;
    transition: 0.3s;
    color: white;
}

.button:active,
.create-random-button:active {
    background-color: #8569d0;
    transition: 0.3s;
    color: white;
}

.browse-tree {
    margin-top: 20px;
}

select {
    border-radius: 5px;
}

.node-circle {
    cursor: pointer;
    transition: fill 0.3s ease;
}

.node-circle:hover {
    fill: #dddddd;
}

.is-selected {
    fill: #4cff00;
}

@keyframes zoomHighlight {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.3);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.node-new {
    animation: fadeInZoom 1s ease-in-out;
    stroke: green;
    stroke-width: 3px;
    transition: fill 0.3s ease-in-out;
}

.node-highlight {
    stroke: yellow;
    stroke-width: 4px;
}

.status-bar {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0 20px;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    border: solid black 1px
}


