@page "/"
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>
<h1>THIS IS LANDING PAGE HTML DÙNG ĐỂ HƯỚNG DẪN SỬ DỤNG TRANG WEB</h1>














@code
{

    // ĐÂY LÀ PHẦN CODE, NẾU CẦN ANIMATION OR STH THÌ CÓ THỂ ĐỂ VÀO ĐÂY

}
